$primary-blue: #11ABEC;
$light-blue: #F1F7FC;
$primary-pink: #FD755F;
$light-pink:#FFC0CB;
$primary-green: #008000;
$light-green:#90EE90;
$primary-grey: #F3F5F8;
$light-gray: #F7F7F7;
$primary-yellow: #FAA11C;
$light-yellow: #FFF5BF;
$primary-purple: #A020F0;
$light-purple:#CBC3E3;
$primary-red:red;
$light-red:#FFCCCB;
$primary-dark: #001A25;
$grey-line: #DCE4ED;
$secondary-btn-inactive: #E7E7E7;
$light-red: #FFECE6;
$light-black: #F7F7F7;
$light: #58676D;
$lighter: #F7F7F7;
$primary-default:#636970;
$grey:#e5e5e5;

