<div class="category-container">
  <header class="category-header">
    <h2 class="category-title">Catégories</h2>
    <div class="category-filters">
      <div *ngFor="let filter of filters">
        <app-category-filter (typeChanged)="filterCategoryByType(filter.type)" [isSelected]="filter.isSelected"
          [type]="filter.type">
          {{ filter.label }}
        </app-category-filter>
      </div>
    </div>
  </header>
  <main class="category-main">
    <section class="category-search">
      <app-search-bar class="category-search-input" (searchEvent)="searchByCategory.setValue($event)"
        [placeholder]="'Rechercher une catégorie'">
      </app-search-bar>
      <app-dropdown class="category-search-dropdown" [items]="categoryGroups" [label]="selectedOption"
        (itemSelected)="setGroupCategoryFilter($event.id, $event.name)">
      </app-dropdown>
    </section>
    <section class="category-list">
      <app-category-list [categorySort]="filterSortType" [categories]="categories" [categoryGroups]="categoryGroups"
        (categorySelected)="selectedCategory = $event">
      </app-category-list>
    </section>
  </main>
</div>
<footer class="category-footer">
  <button class="category-footer-button" [disabled]="!selectedCategory?.id "
    (click)="endOfDemonstration()">Sélectionner la catégorie</button>
</footer>
